body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

h1 {
    color: #333;
}

.medication {
    margin: 20px;
}

label {
    font-weight: bold;
}

#status {
    margin: 20px;
    font-weight: bold;
}
